<div class="container" style="height: 100vh">
    <div class="row text-center h-100">
        <div class="col my-auto d-flex flex-column align-items-center">
            <div class="card m-0 p-3 ps-5 pe-5" style="width: fit-content">
                <div class="card-body">
                    <h1 class="card-title mb-4"><b>404</b></h1>
                    <p class="card-text">Rota não encontrada</p>
                    <a href="{{URL}}" class="btn btn-secondary">
                        Página principal
                    </a>
                </div>
            </div>
            <div class="mt-3">
                <p style="font-size: 0.75rem">
                    Crie a rota em <kbd>routes</kbd>
                </p>
            </div>
        </div>
    </div>
</div>
