<div class="container" style="height: 100vh">
	<div class="row text-center h-100">
		<div class="col my-auto d-flex flex-column align-items-center">
			<div class="card m-0 p-3 ps-5 pe-5" style="width: fit-content">
				<div class="card-body">
					<h1 class="card-title"><b>MVC PHP</b></h1>
					<p class="card-text mb-4">MVC desenvolvido em PHP de uso livre</p>
					<a
						href="https://github.com/jjr-dev/mvc-php"
						class="btn btn-secondary"
						target="_blank"
					>
						Acessar repositório
					</a>
				</div>
			</div>
			<div class="mt-3">
				<img src="{{PUBLIC}}/assets/img/php-logo.png" width="50" alt="PHP" title="PHP" />
			</div>
		</div>
	</div>
</div>
