<header>
    <nav>
        <div class="container">
            <div class="logo">
                <h1>Luna</h1>
            </div>
            <ul class="menu">
                <li>
                    <a href="https://jjrdev.gitbook.io/luna/" target="_blank" rel="noopener noreferrer">Documentação</a>
                </li>
                <li>
                    <a href="https://github.com/jjr-dev/luna" target="_blank" rel="noopener noreferrer">Repositório</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
