<div class="container" id="welcome">
	<h1>Boas vindas ao <b>Luna v1.0.3</b></h1>
	<h2>Framework MVC em PHP</h2>
</div>
<div class="section">
	<div class="container">
		<h1>Precisa de ajuda?</h1>
		<p>
			Acesse a
			<a href="https://jjrdev.gitbook.io/luna/" target="_blank" rel="noopener noreferrer"
				>documentação</a
			>
			completa dos recursos do Luna.
		</p>
		<hr />
		<h1>Recursos do Luna</h1>
		<ul>
			<li>Mapeamento de rotas;</li>
			<li>Banco de dados em ORM (Illuminate/Eloquent);</li>
			<li>Fila de middlewares;</li>
			<li>Praticidade, segurança e agilidade;</li>
			<li>Hospedagem simplificada;</li>
			<li>Armazenamento em cache;</li>
			<li>Componentização;</li>
			<li>Paginação;</li>
			<li>Search Engine Optimization (SEO).</li>
		</ul>
		<hr />
		<h1>Sobre essa página</h1>
		<p>
			Essa página é apenas uma boas vindas, exclua ou altere para iniciar seu
			desenvolvimento. Encontre-a em:
		</p>
		<p><kbd>resources/home.html</kbd></p>
		<p>Seu controller correspondente pode ser encontrado em:</p>
		<p><kbd>app/Controllers/Pages/Home.php</kbd></p>
	</div>
</div>
